<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
    font-family: "Georgia";
    src: url("Georgia.eot"); /* IE9 */
    src: url("Georgia.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("Georgia.woff") format("woff"), /* chrome、firefox */
    url("Georgia.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("Georgia.svg#Georgia") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


